@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
	/* Цвета фона и текста */
	--background: #ffffff;
	--foreground: #0f1729;

	/* Основной бренд */
	--primary: #000000;
	--primary-foreground: #f8fafc;

	/* Дополнительные */
	--secondary: #f1f5f9;
	--secondary-foreground: #0f1729;

	/* Неактивные/мутные */
	--muted: #f1f5f9;
	--muted-foreground: #65758b;

	/* Состояния */
	--destructive: #ef4343;
	--destructive-foreground: #f8fafc;

	/* Обводки / инпуты / ринги */
	--border: #e1e7ef;
	--input: #e1e7ef;
	--ring: #2463eb;

	/* Шрифты */
	--font: 'Oswald', sans-serif;

	/* Радиусы */
	--radius-sm: 0.125rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;

	/* Отступы-контейнеры (по желанию) */
	--space-content: 1rem;
	--space-section: 3rem;
	--space-page: 4rem;
}

@theme inline {
	/* Цвета */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	/* Шрифты */
	--font-family: var(--font);

	/* Радиусы */
	--radius-sm: var(--radius-sm);
	--radius-md: var(--radius-md);
	--radius-lg: var(--radius-lg);
	--radius-xl: var(--radius-xl);
}

.dark {
	--background: hsl(222 47% 11%);
	--foreground: hsl(210 40% 98%);
	--primary: hsl(221 83% 53%);
	--primary-foreground: hsl(210 40% 98%);
	--secondary: hsl(217 33% 17%);
	--secondary-foreground: hsl(210 40% 98%);
	--muted: hsl(217 33% 17%);
	--muted-foreground: hsl(215 20% 65%);
	--destructive: hsl(0 63% 45%);
	--destructive-foreground: hsl(210 40% 98%);
	--border: hsl(217 33% 25%);
	--input: hsl(217 33% 25%);
	--ring: hsl(221 83% 53%);
}

@layer base {
	* {
		box-sizing: border-box;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 35px;
	}

	h3 {
		font-size: 25px;
	}
	body,
	html {
		@apply font-family bg-primary text-primary-foreground;
		height: 100%;
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}

	#app {
		height: 100%;
		min-height: 100%;
	}
}
